body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  margin: 0;
  font-family: 'Sacramento', cursive;
}

h2 {
  font-family: 'Montserrat', sans-serif;
}

h3 {
  font-family: 'Montserrat', sans-serif;
}

.pro {
  text-decoration: underline;
}

.topContainer {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}

.middleContainer {
  background-color: Red;
  width: 200px;
  height: 200px;
}

.bottomContainer {
  background-color: Green;
}

.top-cloud {
  position: absolute;
  right: 400px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}
