a {
    color: #11999E;
    font-family: 'Merriweather', serif;
    margin: 10px 20px;
    text-decoration: none;
}

a:hover {
    color: #EAF6F6;
}

body {
    color: #40514E;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1 {
    color: #66BFBF;
    font-size: 5rem;
    font-family: 'Sacramento', cursive;
    margin: 50px auto 0 auto;
}

h2 {
    color: #66BFBF;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    font-weight: normal;
    padding-bottom: 10px;
}

h3 {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
}

hr {
    border: dotted #EAF6F6 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}

p {
    line-height: 2;
}

.underline {
    text-decoration: underline;
}

.topContainer {
    background-color: #E4F6F6;
    position: relative;
    padding-top: 100px;
}

.middle-container {
    margin: 100px 0;
}

.bottom-container {
    background-color: #66BFBF;
    padding: 50px 0 20px;
}

.top-cloud {
    position: absolute;
    right: 400px;
    top: 40px;
    width: 10rem;
}

.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 250px;
    width: 10rem;
}

.mountain-image {
    width: 15rem;
}

.skill-row {
    margin: 100px auto 100px auto;
    width: 50%;
    text-align: left;
}

.soft-dev-img {
    margin-right: 30px;
    float: left;
    width: 25%;
}

.photography-img {
    margin-left: 30px;
    float: right;
    width: 25%;
}

.my-pic {
    width: 15%;
}

.copyright-desc {
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0;
}

.footer-link {
    color: #11999E;
}

.profile-desc {
    margin: auto;
    width: 80%;
}

.contact-message {
    margin: 40px auto 60px;
    width: 40%;
}

.contact-me-button {
    background: #11CDD4;
    background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
    background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
    background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
    background-image: -o-linear-gradient(top, #11CDD4, #11999E);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;;
    font-size: 20px;
    font-weight: 100;
    padding: 10px 20px;
    text-shadow: 1px 1px 20px #000000;
    border: solid #337FED 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
}

.contact-me-button:hover {
    border: solid #337FED 1px;
    background: #30E3CB;
    background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
}